body{
    background-color: #333;
}

.box{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: wheat;
    top: 25%;
    right: 25%;
}

.boll{
    background-color: rgb(25, 0, 255);
    width: 10%;
    height: 20%;
    position: absolute;
    animation: sigmaslide 3s linear infinite;
    
}

@keyframes sigmaslide{
    0%{top: 0; left: 0;}
    40%{top: 0; left: 90%; border-radius: 100%; background-color: red;}
    50%{top: 40%; left: 90%; border-radius: 100%; background-color: yellow;}
    60%{top: 80%; left: 90%; opacity: 40%;}
    90%{top: 80%; left: 0;}
    100%{top: 0; left: 0;}

}


