*{font-family: sans-serif; box-sizing: border-box;}
body{
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
}

span{font-size: 15px;}

.header{
    font-size: 10px;
    background-image: linear-gradient(to bottom,rgb(25, 25, 25),gray);
    display: flex;
    justify-content: center;
}

.header img{
    width: 6%;
}

