*{font-family: sans-serif; box-sizing: border-box;}

body{
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: 100% 53%;
    background-image: url(maxresdefault-1.webp);
    background-repeat: no-repeat;
    background-color: rgb(41, 41, 41);
}

span{font-size: 15px;}

.header{
    font-size: 10px;
    background-image: linear-gradient(to bottom,rgba(59, 59, 59),rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    color: rgb(255, 248, 234);
}

.img1{
    display: flex;
    flex: 1;
}

.img1 img{
    width: 20%;
}


.Scptoday{
    color: rgb(255, 248, 234);
    flex: 1;
    text-align: center;
    font-size: 14px;
}

.links{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 20px;
}

.links a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#slide1{
    position: absolute;
}

#slide1.out1{
    transform: translateX(240%);
    transition: all 0.6s ease;
}

#slide1.in1{
    transform: translateX(0);
    transition: all 0.6s ease;
}

#slide1.out11{
    transform: translateX(-240%);
    transition: all 0.6s ease;
}

#slide2{transform: translateX(-240%);}

#slide2.out2{
    transform: translateX(-240%);
    transition: all 0.6s ease;
}

#slide2.out22{
    transform: translateX(-260%);
    transition: all 0.3s ease;
}

#slide2.in2{
    transform: translateX(0);
    transition: all 0.6s ease;

}

#slide3{
    position: absolute;
    transform: translateX(240%);
}

#slide3.out32{ 
    transform: translateX(270%);
    transition: all 0.3s ease;
}

#slide3.out31{
    transform: translateX(240%);
    transition: all 0.6s ease;
}

#slide3.in3{
    transform: translateX(0);
    transition: all 0.6s ease;
}


.pics{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
    max-width: 25%;
    width: 25%;
    height: 340px;
    position: relative;
}
.pics img{
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid rgba(24, 24, 24, 0.8);
    box-shadow: 0 8px 30px 10px rgba(54, 54, 54, 1);
}

.left,.right{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    border-radius: 50%;
    background: rgba(56, 56, 56, 0.6);
    backdrop-filter: blur(2px) saturate(180%);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
    border: 1px solid rgba(54, 54, 54, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background: none;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 50px;
}

.left:hover, .right:hover{
    opacity: 0.7;
}

.info{
    display: flex;
    justify-content: space-around;
    color: white;
}

.box1{
    background: rgba(56, 56, 56, 0.6);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(24, 24, 24, 0.8);
    box-shadow: 25px 20px 20px 30px rgba(68, 68, 73, 0.2); 
    position: relative;
    border-radius: 40px;
    padding: 15px;
    width: 30%;
    height: 380px;
}

.box1 span{
    margin: 0;
    line-height: 2.5;
    font-weight: 700;
    margin-right: 60px;
}

#p1, #t1{ 
    display: block;
    line-height: 1.9;
}

#p2, #t2{
    display: none;
}

#p3, #t3{
    display: none;
}