*{
    box-sizing: border-box;
}

.header{
    background-color: rgb(25, 25, 25);  
    height: 80px;
    font-size: 2vh;
    display: flex;
    justify-content: center;

}
.vanster{
    position: absolute;
    left: 2%;
    margin-top: 1.4%;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
    color: white;
}
.mitt{
    margin-top: 1.4%;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
    color: white;
}

.timeline{
    position: relative;
    max-width: 1300px;
    margin: 70px auto;
}

.INFO span{
    font-weight: 700;
}

.INFO1{
    position: relative;
    width: 50%;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 5px rgb(197, 197, 197);
    border-radius: 20px;
}

.INFO-left .INFO1{
    left: 0;
}
    
.INFO-right .INFO1{
    left: 50%;

}