.header{
    background-color: rgb(25, 25, 25);
    color: white;
    height: 80px;
    font-size: 2vh;
    display: flex;
    justify-content: center;
}

.INFO{
    display: flex;
    justify-content: center;
}

.INFO span{
    font-weight: 700;
}

.INFO1{
    width: 50%;
    height: auto;
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 5px rgb(197, 197, 197);
    border-radius: 20px;
}