*{font-family: sans-serif; box-sizing: border-box; }
body{background-color: rgb(00, 0, 0);margin: 0;}
p{color: white;}
a{text-decoration: none; color: white;}

.header{
    top: 0;
    background-color: rgba(25, 25, 25, 0.8);
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Husaberg-text{
    
    font-size: 26px;
    font-family: serif;
    text-decoration: none;
    color: white;
    z-index: 1;
}
.featuredBike{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.featuredBike P{
    font-size:  40px;
    width: 100%;
    margin: 20px 0;
}

.shadow{margin-top: 70px;}
.readMore{
    background-color: blue;
    border-radius: 20px;
    width: fit-content;
    padding: 3px 20px;
}
.readMore:hover{
    opacity: 0.8;
}